*{
    margin: 0px;
    padding: 0px;

}
.navbar{
        padding: 10px;
        padding-left: 0px;
        height: 60px;
        background-color: #0f1111;
        color: white;
        overflow-x: none;
        overflow-y: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
}
.logoName{
    display: flex;
    align-items: center;
}
.navlogo{
    padding-right: 20px;
}
#logonav{
    height: 50px;
}
a{
    text-decoration: none;
    color: #df179c;
}
.navuser{
    justify-content: center;
    align-items: center;
}
#facenav{
    padding-left: 30px;
}
#nav{
    padding: 18px;
}
#nav:hover{
    border: 1px white solid;
    color: aqua;
}
#nav2{
    padding: 8px;
}
#nav2:hover{
    border: 1px white solid;
    color: aqua;
    text
}