{% extends "layout.html" %}
{% block main %}
<style>
    .centered-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; 
    }
</style>

<div class="jumbotron jumbotron-fluid bg-transparent text-white centered-text" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="container">
        <h1 class="display-4 text-center">"Healthcare for good, today, tomorrow, always" - HealthQuest</h1>
    </div>
</div>
{% endblock %}
