<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="styles/login.css">
</head>
<body>
    <div class="maincontainer">
        <div class="amazonhead">
            <img src="Screenshot 2024-03-02 022724.png" alt="HealthQuest.in">
        </div>
        <div class="content">
            <div class="borderbottom">
            <h1>
                Create Account
            </h1><br>
            <h2 id="h2">
                Name
            </h2>
            <input id="enter" type="text" placeholder="Enter Full name"><br><br>
            <h2 id="h2">
                Email or Mobile phone number
            </h2>
            <input id="enter" type="text" placeholder="enter mobile number"><br><br>
            <div class="password">
                <h2 id="h2">Enter password</h2>
            </div>
            <input id="enter"  type="text" placeholder="Enter password"><br><br>
            <button id="b1">
                <p >Continue</p>
            </button><br>
            <br>
            <p id="by">
                By continuing, you agree to HealthQuest's Conditions of Use and Privacy Notice.
            </p><br></div>
            
        <main>
           <button id="b2">
            Submit
           </button>
        </main>
        <footer>
           <p id="pfoot"> &copy 1996-2024, HealthQuest.com  Conditions of Use </p>
        </footer>
    </div>
</body>
</html>