<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mainpage</title>
    <link rel="stylesheet" href="mainpage.css">
    <link rel="stylesheet" href="https://fontawesome.com/search?q=magn&o=r&m=free">
</head>
<body>
    <div class="navhead">
    <div class="logo">
        <img id="logoi" src="Screenshot 2024-03-02 233651.png" alt="logo">
        <p id="prodname">HEALTH-QUEST</p>
    </div>
    <div class="navbar">
        <p id="dashboard">Dashboard</p>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" id="search" placeholder="search nearest hospitals">
        <i class="fa-regular fa-comment-dots"></i>
        <i class="fa-solid fa-heart"></i>
    </div>
    <i class="fa-solid fa-heart"></i>
    <i class="fa-solid fa-address-book"></i>
</div>
<div class="sidetag">
    <div class="center">
    <div class="dashside">
    <p>
        <a href="#">Dashboard</a>
    </p>
</div>
<div class="discover">
    <p>
        <a href="#">Discover</a>
        
    </p>
</div>
<div class="schedule">
    <p><a href="#">Schedule</a></p>
</div>
<div class="norti">
    <p><a href="#">Nortifications</a></p>
</div>
<div class="message">
    <p><a href="#">Message</a></p>
</div>
</div>
<div class="navlink">
<div class="image2">
    <img id="pic3" src="Screenshot 2024-03-03 003400.png" alt="">
</div>
<div class="navlink2">
<div id="nav" class="navEmergency">
    <a href="Emergency.html">
        <p>Emergency</p>
    </a>
</div>
<div id="nav" class="challenges">
    <a href="challenges.html">
    <p>Challenges</p>
    </a>
</div>
<div id="nav" class="rewards">
    <a href="rewards.html">
    <p>Rewards</p>
    </a>
</div>
<div id="nav" class="progress">
    <a href="progress.html">
    <p>Progress</p>
    </a>
</div>
</div>
<div class="task">
    <div class="task1">
    <img id="taskj" src="Screenshot 2024-03-03 010538.png" alt="">
    <p>Daily steps count</p><br><br>
    <a href="#">See Details</a>
    </div>
    <div class="task2">
        <img id="taskj" src="Screenshot 2024-03-03 011545.png" alt="">
        <p>Your heart rate</p><br><br>
        <a href="#">See Details</a>
    </div>
</div>
<div class="taski">
    <div class="task3">
        <img id="taskj" src="Screenshot 2024-03-03 011844.png" alt="">
        <p>Bmi Counter</p><br><br>
        <a href="#">See Details</a>
    </div>
    <div class="task4">
        <img id="taskj" src="Screenshot 2024-03-03 011943.png" alt="">
        <p>Your diet plan</p><br><br>
        <a href="#">See Details</a>
    </div>
</div>
</div>
<div class="chatbot">
    <iframe	style="width: 400px; height: 600px;" src="https://app.fastbots.ai/embed/cltadfavt01c8swb2emjtrjyk"></iframe>
</div>
</div>
</body>
</html>